<!DOCTYPE html>
<html lang="en">

<head>
  
  <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png" />

  <!-- Put your site title here -->
  <title>
    Danny Devito | A Web Developer based in Chennai, India.
  </title>

  <meta name="description" content="Add small description of yourslef.">
  <!-- Add some coding keywords below, Ex: (React, CSS etc) -->
  <meta name="keywords" content="Put your name, skills and some coding keywords" />
  <link rel="stylesheet" href="../app/app.component.css" />

  <!-- <div style="position: relative; width: 30%; height: 0; padding-top: 30% ;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF4EUmGChk&#x2F;watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF4EUmGChk&#x2F;watch?utm_content=DAF4EUmGChk&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Design</a> by Danny Devito -->
</head>


<body>

  <!-- ***** Header ***** -->

  <header class="header" role="banner" id="top">
    <div class="row">                                   
      <nav class="nav" role="navigation">
        <ul class="nav__items">
          <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
          <li class="nav__item"><a href="#clients" class="nav__link">Certificates</a></li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#contact" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__text-box row">
      <div class="header__text">
        <h1 class="heading-primary">
          <!-- Replace the following name with your name -->
          <span>Danny Devito</span>
        </h1>
        <!-- Put a small paragraph about yourself -->
        <p>A Web Developer based in Chennai, India.</p>
        <a href="#contact" class="btn btn--pink">Get in touch</a>
      </div>
    </div>
    
  </header>

  <main role="main">

    <!-- ***** Work ***** -->

    <section class="work" id="work">
      <div class="row">
        <h2>My Work</h2>
        <div class="work__boxes">

          <!-- Each div with the work__box class is a project. -->

          <div class="work__box">
            <div class="work__text">
              <h3> Institution Website</h3>
              <p>
                Developed a comprehensive institution website using HTML and CSS. Implemented features to provide users with detailed 
information about the institution.
              <ul class="work__list">
                <li>HTML</li>
                <li>CSS</li>
              </ul>

              <div class="work__links">
                <a href="https://github.com/devito08/BestComputerEducation" target="_blank" class="link__text">
                  Visit Site <span>&rarr;</span>
                </a>
                <a href="https://github.com/devito08" title="View Source Code" target="_blank">
                  <img src="../assets/images/github.svg" class="work__code" alt="GitHub">
                </a>
              </div>
            </div>
            <div class="work__image-box">
              <img src="../assets/images/Screenshot 2023-12-22 134403.png" class="work__image" alt="Project 1" />
            </div>
          </div>

          <div class="work__box">
            <div class="work__text">
              <h3>E-Commerce Website</h3>
              <p>
                Designed and developed a dynamic E-Commerce platform using HTML, CSS, and JavaScript. Implemented interactive 
                features to facilitate buying and selling of physical goods, services, and digital products.
              </p>
              <ul class="work__list">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                
              </ul>

              <div class="work__links">
                <a href="#" class="link__text">
                  Visit Site <span>&rarr;</span>
                </a>
                <a href="#">
                  <img src="../assets/images/github.svg" class="work__code" title="View Source Code" alt="GitHub">
                </a>
              </div>
            </div>
            <div class="work__image-box">
              <img src="../assets/images/Screenshot 2023-12-22 134857.png" class="work__image" alt="Project 1" />
            </div>
          </div>

          <div class="work__box">
            <div class="work__text">
              <h3> Portfolio website</h3>
              <p>
                Spearheaded the development of a dynamic and responsive Portfolio website using Angular and TypeScript, showcasing an 
advanced understanding of modern frontend technologies.
              </p>
              <ul class="work__list">
                <li>HTML</li>
                <li>Angular.js</li>
                <li>CSS</li>
                <li>javascript</li>
              </ul>

              <div class="work__links">
                <a href="#" class="link__text">
                  Visit Site <span>&rarr;</span>
                </a>
                <a href="#">
                  <img src="../assets/images/github.svg" class="work__code" title="View Source Code" alt="GitHub">
                </a>
              </div>
            </div>
            <div class="work__image-box">
              <img src="../assets/images/project-3.png" class="work__image" alt="Project 3" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Clients ***** -->

    <section class="client" id="clients">
      <div class="row">
        <h2>Certificates</h2>
        <div class="client__logos">
          <!-- Add logos of the clients or companies you'have worked with. -->
          <embed src="../assets/certificates/Introduction to RPA and Automation.pdf" type="">
         <embed src="../assets/certificates/angular.pdf" type="">
          <embed src="../assets/certificates/html,css,javascript.pdf" type="">
            <embed src="../assets/certificates/react.pdf" type="">
              
                
        </div>
      </div>
    </section>

    <!-- ***** About ***** -->

    <section class="about" id="about">
      <div class="row">
        <h2>About Me</h2>
        <div class="about__content">
          <div class="about__text">
            
            <p>
              Hello, I'm Danny Devito L, a passionate Computer Science Engineering student in Chennai. 
              With hands-on experience in web development, I've interned as a Frontend Developer and Full Stack Web Developer. 
              Proficient in languages like C, Python, and JavaScript, I bring a dynamic approach to projects, 
              showcasing my skills in HTML, CSS, React, Angular, and TypeScript. 
              Eager to contribute my expertise to the evolving world of web development.
            </p>
            <!-- Resume Link-->
            <a href="https://drive.google.com/file/d/1ou-6zayRUORsT8hzHD5iPiAsBU9wKLCd/view?usp=drive_link" class="btn">My Resume</a>
          </div>

          <div class="about__photo-container">
            <!-- photo -->
            <img class="about__photo" src="../assets/images/devito.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- ***** Contact ***** -->

  <section class="contact" id="contact">
    <div class="row">
      <h2>Get in Touch</h2>
      <div class="contact__info">
        <p>
          I'm excited to connect with you! Whether you have a project in mind, a burning question, or just want to say hello, 
          I'm here for it all. Feel free to reach out by dropping me a message using the form below, and 
          I'll get back to you as soon as possible. Alternatively, you can shoot me an email.
          For a more immediate chat, give me a ring at 9841667119. I'd love to connect with you on social media—find me on LinkedIn and Twitter. 
          Your inquiries are important to me, and I eagerly anticipate the opportunity to collaborate with you. <br><br>
          <a href="mailto:dannydevito.cse@gmail.com" class="btn">My gmail</a>


        </p>
        <!-- Replace the email with yours -->
        <!-- <a href="mailto:you@example.com" class="btn">you@example.com</a> -->
      </div>
    </div>
   
  </section>
  <!-- ***** Footer ***** -->

  <footer role="contentinfo" class="footer">
    <div class="row">
      <!-- Update the links to point to your accounts -->
      <ul class="footer__social-links">
        <li class="footer__social-link-item">
          <a href="https://twitter.com/Danny_Devito_08/" title="Link to Twitter Profile">
            <img src="../assets/images/twitter.svg" class="footer__social-image" alt="Twitter">
          </a>
        </li>
        <li class="footer__social-link-item">
          <a href="https://github.com/devito08" title="Link to Github Profile">
            <img src="../assets/images/github.svg" class="footer__social-image" alt="Github">
          </a>
        </li>
        
        <li class="footer__social-link-item">
          <a href="http://www.linkedin.com/in/danny-devito-l-b7a45a253//">
            <img src="../assets/images/linkedin.svg" title="Link to Linkedin Profile" class="footer__social-image" alt="Linkedin">
          </a>
        </li>
      </ul>

      <!-- If you give me some credit by keeping the below paragraph, will be huge for me 😊 Thanks. -->
      <p>
        &copy; 2023 - Template designed & developed by <a href="https://nisar.dev" class="link">Danny</a>.
      </p>
      
    </div>
  </footer>

  <a href="#top" class="back-to-top" title="Back to Top">
    <img src="../assets/images/arrow-up.svg" alt="Back to Top" class="back-to-top__image"/>
  </a>
  <!-- <script src="./index.js"></script> -->
</body>

</html>